.container {
  margin: 0 auto;
  width: 90%;
  position: relative;
  height: 100vh;
}

.header {
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: inherit;
  text-decoration: none;
}

.logo > h1,
.logo > h1 > span {
  font-size: 1.75rem;
}

.logo > h1 > span {
  font-weight: 200;
  font-size: 1.35rem;
}

.navigation {
  height: 100%;
}

.navigation > a {
  text-decoration: none;
  color: inherit;
  padding: 0 15px;
  border-left: 1px solid black;
  transition: color 600ms ease;
}

.navigation > a:hover {
  color: rgb(158, 136, 62);
}

.navigation > a:first-child {
  border-left: none;
}
.mobile-navigation {
  display: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px rgb(212, 212, 212) solid;
  box-sizing: border-box;
  padding-top: 30px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.footer-title {
  font-size: 1.15rem !important;
  font-weight: 700;
  padding-bottom: 5px;
}

.footer > div > p {
  margin: 0;
}

.footer > div > a {
  color: inherit;
  text-decoration: none;
}

.footer-links > a {
  margin-right: 12px;
  user-select: none;
}

.footer-links > a > img {
  width: 17px;
  height: 17px;
}

.disable {
  cursor: pointer !important;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .header {
    margin-bottom: 40px;
  }

  .logo > h1 > span {
    display: none;
  }

  .navigation {
    display: none;
  }

  .mobile-navigation {
    display: block;
  }

  .mobile-navigation:hover {
    cursor: pointer;
  }

  .mobile-navigation > img {
    padding-top: 6px;
    height: 35px;
  }

  .footer {
    flex-direction: column;
  }

  .footer > div {
    padding-bottom: 20px;
  }

  .footer > div:last-child {
    padding-bottom: 50px;
  }

  .side-drawer {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .side-drawer-links {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
  }

  .side-drawer-links > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
    padding: 3px;
    margin-bottom: 15px;
  }
}
