.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(255, 255, 255, 0.85);
}

.modal {
  position: fixed;
  left: 35%;
  top: 35%;
  z-index: 100;
  overflow: hidden;
}

.modal > input {
  width: 400px;
  font-family: 'Poppins', sans-serif;
  padding: 3px 6px;
}

.modal > input:focus {
  outline: none;
}

.modal > h6 {
  font-weight: normal;
  padding-bottom: 5px;
}

.modal > p {
  font-weight: 500;
  font-size: 0.7rem;
  color: red;
}

@media only screen and (max-width: 600px) {
  .modal {
    left: 15%;
    top: 35%;
  }

  .modal > input {
    width: 300px;
  }
}
